[Desktop Entry]
Version=1.1
Type=Application
Name=Character Map
NoDisplay=true
Comment=Insert special characters into documents
Icon=accessories-character-map
Exec=gucharmap
Actions=
Categories=GNOME;GTK;Utility;
Keywords=font;unicode;
StartupNotify=true
