[Desktop Entry]
Version=1.1
Type=Application
Name=Run Program...
NoDisplay=true
Comment=Run a program
Icon=system-run
OnlyShowIn=XFCE;
Exec=xfce4-appfinder --collapsed
Actions=
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
